{% extends 'base.html.twig' %}

{% block title %}Edit Session{% endblock %}

{% block body %}
    <h1>Modifer les informations de la Session</h1>

    {{ include('session/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('app_session_index') }}">Retour à la liste des sessions</a>

    {{ include('session/_delete_form.html.twig') }}
{% endblock %}
